.bluetxt{
	color:#5faee3;
}
.spanposition{
	height: 40px;
	display:inline-block;
}
.emptyaddicon{
	width: 24px;
    height: 24px;
    display: inline-block;
    background-repeat: no-repeat;
    position: absolute;
	top:23px;
}
.emptynodata{
    background-image: url(../../images/icons/no_data_big.png);
    background-position: 30px 12px;
    background-repeat: no-repeat;
    padding-left: 80px;
    width: 80px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -100px;
    margin-top: -30px;
    line-height: 50px;
    font-size: 16px;
    color: #5FAEE3;
}
.left30{
	margin-left: 30px;
}
