.resource {
    position: absolute;
    z-index: 100;
    width: 210px;
    right: 0px;
    top: 0px;
    border-top: 0px;
    z-index:9999;
}

.topuwintitle {
    height: 32px;
    width: 100%;
}

.topuwinname {
    height: 32px;
    line-height: 32px;
    float: left;
    padding-left: 12px;
    width: 60px;
    font-size: 14px;
}

.resourcectrl {
    height: 32px;
    line-height: 32px;
    float: right;
    width: 80px;
}

.titleclose {
    width: 20px;
    height: 20px;
    float: right;
    background-image: url(../../images/icons/topology-list-del.png);
    background-repeat: no-repeat;
    cursor: pointer;
}

.titlecloseon {
    background-image: url(../../images/icons/topology-list-del-on.png);
}

.topologyCanvas {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 100%
}

.topologyCanvasToolBar {
    height: 34px;
    overflow: hidden;
    cursor: pointer
}

#warninglist {
    position: absolute;
    left: 204px;
    height:190px;
    bottom: 0px;
}

.warninglistcontent {
    position: absolute;
    top: 34px;
    bottom: 0px;
    width: 100%;
    overflow: auto;
}

.gdownbtn {
    border: 0px;
    position: absolute;
    right: 4px;
    top: 5px;
    left: 24px;
}

.geEditor {
    font-family: Helvetica Neue, Helvetica, Arial Unicode MS, Arial;
    font-size: 10pt;
    border: none;
    margin: 0px;
}

.geMenubarContainer .geItem, .geToolbar .geButton, .geToolbar .geLabel,
    .geSidebarContainer .geTitle {
    cursor: pointer !important;
}

.geContentEditable div, .geContentEditable table, .geContentEditable table td
    {
    border: 1px dashed lightGray;
}

.geBackgroundPage {
    -webkit-box-shadow: 0px 0px 3px 0px #d9d9d9;
    -moz-box-shadow: 0px 0px 3px 0px #d9d9d9;
    box-shadow: 0px 0px 3px 0px #d9d9d9;
}

.geSidebarContainer a, .geMenubarContainer a, .geToolbar a {
    color: #000000;
    text-decoration: none;
}

.geMenubarContainer, .geToolbarContainer, .geDiagramContainer,
    .geSidebarContainer, .geFooterContainer, .geHsplit, .geVsplit {
    overflow: hidden;
    position: absolute;
    cursor: default;
}

.geDiagramContainer {
    background-color: #ffffff;
    outline: none;
}

.geMenubar, .geToolbar {
    white-space: nowrap;
    display: block;
    width: 100%;
}

.geMenubarContainer .geItem, .geToolbar .geButton, .geToolbar .geLabel,
    .geSidebar, .geSidebarContainer .geTitle, .geSidebar .geItem,
    .mxPopupMenuItem {
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.geHint {
    background-color: #ffffff;
    border: 1px solid gray;
    padding: 4px 16px 4px 16px;
    border-radius: 3px;
    -webkit-box-shadow: 1px 1px 2px 0px #ddd;
    -moz-box-shadow: 1px 1px 2px 0px #ddd;
    box-shadow: 1px 1px 2px 0px #ddd;
    opacity: 0.8;
    filter: alpha(opacity = 80);
}

.geStatusAlert {
    white-space: nowrap;
    margin-top: -5px;
    font-size: 12px;
    padding: 4px 6px 4px 6px;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
    color: #a94442 !important;
    border-radius: 3px;
}

.geStatusAlert:hover {
    background-color: #f1d8d8;
    border-color: #d6b2b8;
}

.geStatusMessage {
    white-space: nowrap;
    margin-top: -5px;
    padding: 4px 6px 4px 6px;
    font-size: 12px;
    background-image: -webkit-linear-gradient(top, #dff0d8 0, #c8e5bc 100%);
    background-image: -o-linear-gradient(top, #dff0d8 0, #c8e5bc 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#dff0d8),
        to(#c8e5bc));
    background-image: linear-gradient(to bottom, #dff0d8 0, #c8e5bc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8',
        endColorstr='#ffc8e5bc', GradientType=0);
    background-repeat: repeat-x;
    border: 1px solid #b2dba1;
    border-radius: 3px;
    color: #3c763d !important;
}

.geStatusMessage:hover {
    background: #c8e5bc;
    border-color: #b2dba1;
}

.geAlert {
    position: absolute;
    white-space: nowrap;
    padding: 14px;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
    color: #a94442;
    border-radius: 3px;
    -webkit-box-shadow: 2px 2px 3px 0px #ddd;
    -moz-box-shadow: 2px 2px 3px 0px #ddd;
    box-shadow: 2px 2px 3px 0px #ddd;
}

.geBtn {
    background-color: #f5f5f5;
    border-radius: 2px;
    border: 1px solid #d8d8d8;
    color: #333;
    cursor: default;
    font-size: 11px;
    font-weight: bold;
    height: 29px;
    line-height: 27px;
    margin: 0 0 0 8px;
    min-width: 72px;
    outline: 0;
    padding: 0 8px;
    cursor: pointer;
}

.geBtn:hover {
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    border: 1px solid #c6c6c6;
    background-color: #f8f8f8;
    background-image: linear-gradient(#f8f8f8 0px, #f1f1f1 100%);
    color: #111;
}

.geBtn:disabled {
    opacity: .5;
}

.geBtnUp {
    background-image: url(../../images/topology/toolbar/topoicons.png);
    _background-image: url(up.gif);
    background-position: center center;
    background-repeat: no-repeat;
}

.geBtnUp:active {
    background-color: #4d90fe;
    background-image: linear-gradient(#4d90fe 0px, #357ae8 100%);
}

.geBtnDown {
    background-image: url(../../images/topology/toolbar/topoicons.png);
    _background-image: url(down.gif);
    background-position: center center;
    background-repeat: no-repeat;
}

.geBtnDown:active {
    background-color: #4d90fe;
    background-image: linear-gradient(#4d90fe 0px, #357ae8 100%);
}

.geColorBtn {
    background-color: #f5f5f5;
    background-image: linear-gradient(#f5f5f5 0px, #e1e1e1 100%);
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    color: #333;
    cursor: default;
    margin: 0px;
    outline: 0;
    padding: 0px;
    cursor: pointer;
}

.geColorBtn:hover {
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.7);
}

.geColorBtn:active {
    background-color: #4d90fe;
    background-image: linear-gradient(#4d90fe 0px, #357ae8 100%);
    border: 1px solid #2f5bb7;
    color: #fff;
}

.geColorBtn:disabled {
    opacity: .5;
}

.gePrimaryBtn {
    background-color: #4d90fe;
    background-image: linear-gradient(#4d90fe 0px, #4787ed 100%);
    border: 1px solid #3079ed;
    color: #fff;
}

.gePrimaryBtn:hover {
    background-color: #357ae8;
    background-image: linear-gradient(#4d90fe 0px, #357ae8 100%);
    border: 1px solid #2f5bb7;
    color: #fff;
}

.gePrimaryBtn:disabled {
    opacity: .5;
}

.geAlertLink {
    color: #843534;
    font-weight: 700;
    text-decoration: none;
}

.geMenubarContainer {
    background-color: #ffffff;
}

.geMenubar {
    padding: 0px 2px 0px 2px;
    vertical-align: middle;
}

.geMenubarContainer .geItem, .geToolbar .geItem {
    padding: 6px 8px 6px 8px;
    cursor: default;
}

.geMenubarContainer .geItem:hover, .geToolbarContainer .geItem:hover {
    background: #eeeeee;
}

.mxDisabled:hover {
    background: inherit !important;
}

.geMenubar a.geStatus {
    color: #b3b3b3;
    padding-left: 6px;
    display: inline-block;
    cursor: default !important;
}

.geMenubar a.geStatus:hover {
    background: transparent;
}

.geMenubarMenu {
    border: 1px solid #d5d5d5 !important;
}

.geToolbarContainer {
    left: 0px;
    right: 0px;
    height: 34px;
}

.geSidebarContainer .geToolbarContainer {
    background: transparent;
    border-bottom: none;
}

.geSidebarContainer button {
    text-overflow: ellipsis;
    overflow: hidden;
}

.geToolbar {
    padding: 1px 0px 0px 6px;

}

.geToolbarContainer .geSeparator {
    float: left;
    width: 1px;
    height: 34px;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: -2px;
}

.geToolbarContainer .geButton {
    float: left;
    width: 20px;
    height: 20px;
    padding: 0px 1px 4px 1px;
    margin: 4px;
    border: 1px solid transparent;
    cursor: pointer;

}

.geToolbarContainer .geButton:hover {
    border: 1px solid gray;
    border-radius: 2px;
    opacity: 1;
    filter: none !important;
}

.geToolbarContainer .geButton:active {
    border: 1px solid black;
}

div.mxWindow .geButton {
    margin: -1px 2px 2px 2px;
    padding: 1px 2px 2px 1px;
}

.geToolbarContainer .geLabel {
    float: left;
    margin: 4px;
    font-size: 12px;
    cursor: pointer;
    padding: 3px 5px 3px 5px;
    border: 1px solid transparent;
    opacity: 0.6;
    filter: alpha(opacity = 60);
}

.geToolbarContainer .geLabel:hover {
    border: 1px solid gray;
    border-radius: 2px;
    opacity: 0.9;
    filter: alpha(opacity = 90) !important;
}

.geToolbarContainer .geLabel:active {
    border: 1px solid black;
    opacity: 1;
    filter: none !important;
}

.geToolbarContainer .mxDisabled:hover {
    border: 1px solid transparent !important;
    opacity: 0.2 !important;
    filter: alpha(opacity = 20) !important;
}

.geToolbarMenu {
    border: 3px solid #e0e0e0 !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    filter: none !important;
}

.geDiagramBackdrop {
    background-color: #ebebeb;
    border-style: solid;
    border-color: #e5e5e5;
    border-width: 1px 0px 0px 1px;
}

.geSidebarContainer {
    background: #ffffff;
    overflow: hidden;
    position: absolute;
    border-top: 1px solid #e5e5e5;
    overflow: auto;
}

.geSidebar {
    background: whiteSmoke;
    border-bottom: 1px solid #e5e5e5;
    padding: 5px;
    _padding: 1px;
    padding-bottom: 12px;
    overflow: hidden;
}

.geSidebarContainer .geTitle {
    display: block;
    font-size: 9pt;
    border-bottom: 1px solid #e5e5e5;
    font-weight: normal;
    padding: 6px 0px 6px 14px;
    margin: 0px;
    cursor: default;
    background: #eeeeee;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.4em;
}

.geSidebarContainer .geTitle:hover {
    background: #e5e5e5;
}

.geTitle img {
    opacity: 0.5;
    _filter: alpha(opacity = 50);
}

.geTitle img:hover {
    opacity: 1;
    _filter: alpha(opacity = 100);
}

.geSidebar .geItem {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: 1px solid transparent;
    border-radius: 2px;
    cursor: move;
}

.geSidebar .geItem:hover {
    border: 1px solid gray !important;
}

.geItem {
    vertical-align: top;
    display: inline-block;
}

.geSidebarTooltip {
    position: absolute;
    background: white;
    overflow: hidden;
    border: 1px solid gray;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 2px 2px #d5d5d5;
    -moz-box-shadow: 0px 0px 2px 2px #d5d5d5;
    box-shadow: 0px 0px 2px 2px #d5d5d5;
    _filter: progid:DXImageTransform.Microsoft.DropShadow(OffX=2, OffY=2,
        Color='#d5d5d5', Positive='true');
}

.geFooterContainer {
    background: #e5e5e5;
    border-top: 1px solid #c0c0c0;
}

.geFooterContainer a {
    font-size: 14px;
    color: #235695;
    font-weight: bold;
    text-decoration: none;
}

.geFooterContainer table {
    border-collapse: collapse;
    margin: 0 auto;
}

.geFooterContainer td {
    border-left: 1px solid #c0c0c0;
    border-right: 1px solid #c0c0c0;
}

.geFooterContainer td:hover {
    background-color: #b3b3b3;
}

.geFooterContainer a {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 11px 42px 11px 42px;
    white-space: nowrap;
}

.geHsplit {
    cursor: col-resize;
    background-color: #e5e5e5;
    background-image:
        url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAHBAMAAADdS/HjAAAAGFBMVEUzMzP///9tbW1QUFCKiopBQUF8fHxfX1/IXlmXAAAAHUlEQVQImWMQEGAQFWUQFmYQF2cQEmIQE2MQEQEACy4BF67hpEwAAAAASUVORK5CYII=);
    _background-image: url('thumb_vertical.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.geVsplit {
    font-size: 1pt;
    cursor: row-resize;
    background-color: #e5e5e5;
    background-image:
        url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAEBAMAAACw6DhOAAAAGFBMVEUzMzP///9tbW1QUFCKiopBQUF8fHxfX1/IXlmXAAAAFElEQVQImWNgNVdzYBAUFBRggLMAEzYBy29kEPgAAAAASUVORK5CYII=);
    _background-image: url('thumb_horz.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.geHsplit:hover, .geVsplit:hover {
    background-color: #d5d5d5;
}

.geDialog {
    position: absolute;
    background: white;
    overflow: hidden;
    padding: 30px;
    border: 1px solid #acacac;
    -webkit-box-shadow: 0px 0px 2px 2px #d5d5d5;
    -moz-box-shadow: 0px 0px 2px 2px #d5d5d5;
    box-shadow: 0px 0px 2px 2px #d5d5d5;
    _filter: progid:DXImageTransform.Microsoft.DropShadow(OffX=2, OffY=2,
        Color='#d5d5d5', Positive='true');
    z-index: 2;
}

.geDialogClose {
    position: absolute;
    width: 9px;
    height: 9px;
    opacity: 0.5;
    cursor: pointer;
    _filter: alpha(opacity = 50);
}

.geDialogClose:hover {
    opacity: 1;
}

.geDialogTitle {
    box-sizing: border-box;
    white-space: nowrap;
    background: rgb(229, 229, 229);
    border-bottom: 1px solid rgb(192, 192, 192);
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    color: rgb(35, 86, 149);
}

.geDialogFooter {
    background: whiteSmoke;
    white-space: nowrap;
    text-align: right;
    box-sizing: border-box;
    border-top: 1px solid #e5e5e5;
    color: darkGray;
}

.geSprite {

    background-position:top left;
    background-repeat:no-repeat;
    _background: url('sprites.png') no-repeat top left;
    width: 21px;
    height: 21px;
}

.geBaseButton {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #c0c0c0;
    cursor: pointer;
    background-color: #ececec;
    background-image: linear-gradient(#ececec 0%, #fcfcfc 100%);
}

.geBaseButton:hover {
    background: #ececec;
}

.geBigButton {
    color: #ffffff;
    border: none;
    padding: 10px;
    font-size: 14pt;
    white-space: nowrap;
    border-radius: 6px;
    text-shadow: rgb(41, 89, 137) 0px 1px 0px;
    background-color: #428bca;
    background-image: linear-gradient(rgb(70, 135, 206) 0px,
        rgb(48, 104, 162) 100%);
    -webkit-box-shadow: rgba(255, 255, 255, 0.0980392) 0px 1px 0px 0px inset,
        rgba(0, 0, 0, 0.2) 0px 1px 1px 0px;
    -moz-box-shadow: rgba(255, 255, 255, 0.0980392) 0px 1px 0px 0px inset,
        rgba(0, 0, 0, 0.2) 0px 1px 1px 0px;
    box-shadow: rgba(255, 255, 255, 0.0980392) 0px 1px 0px 0px inset,
        rgba(0, 0, 0, 0.2) 0px 1px 1px 0px;
}

.geBigButton:hover {
    background-color: #2d6ca2;
    background-image: linear-gradient(rgb(90, 148, 211) 0px,
        rgb(54, 115, 181) 100%);
}

.geBigButton:active {
    background-color: rgb(54, 115, 181);
    background-image: none;
}

background
:url
(../../images/topology/toolbar/toolbaricons
.png
)

no-repeat

top

left
;



@media print {
    div.geNoPrint {
        display: none !important;
    }
}

/*toputoolbar icons*/
.geSprite-actualsize {
    background-position: 0 2px;
} /*1:1*/
.geSprite-bold {
    background-position: 0 -45px;
} /*�Ӵ�*/
.geSprite-bottom {
    background-position: 0 -92px;
} /*����*/
.geSprite-center {
    background-position: 0 -138px;
} /*�־���*/
.geSprite-delete {
    background-position: 0 -184px;
} /*ɾ��*/
.geSprite-fillcolor {
    background-position: 0 -229px;
} /*��ɫ*/
.geSprite-fit {
    background-position: 0 -277px;
} /*����*/
.geSprite-fontcolor {
    background-position: 0 -320px;
} /*��ɫ*/
.geSprite-gradientcolor {
    background-position: 0 -368px;
} /*����ɫ*/
.geSprite-image {
    background-position: 0 -414px;
} /*ͼƬ*/
.geSprite-italic {
    background-position: 0 -458px;
} /*б��*/
.geSprite-left {
    background-position: 0 -503px;
}

.geSprite-middle {
    background-position: 0 -552px;
} /*���¾���*/
.geSprite-print {
    background-position: 0 -598px;
} /*��ӡ*/
.geSprite-redo {
    background-position: 0 -641px;
} /*����*/
.geSprite-right {
    background-position: 0 -689px;
} /*���Ҷ���*/
.geSprite-shadow {
    background-position: 0 -735px;
} /*��Ӱ*/
.geSprite-strokecolor {
    background-position: 0 -782px;
} /*����*/
.geSprite-top {
    background-position: 0 -828px;
} /*������*/
.geSprite-underline {
    background-position: 0 -872px;
}

.geSprite-undo {
    background-position: 0 -920px;
}

.geSprite-zoomin {
    background-position: 0 -965px;
}

.geSprite-zoomout {
    background-position: 0 -1011px;
}

.geSprite-arrow {
    background-position: 0 -1059px;
}

.geSprite-linkedge {
    background-position: 0 -1105px;
}

.geSprite-straight {
    background-position: 0 -1150px;
}

.geSprite-entity {
    background-position: 0 -1196px;
}

.geSprite-orthogonal {
    background-position: 0 -1242px;
}

.geSprite-curved {
    background-position: 0 -1288px;
}

.geSprite-noarrow {
    background-position: 0 -1334px;
}

.geSprite-endclassic {
    background-position: 0 -1380px;
}

.geSprite-endopen {
    background-position: 0 -1426px;
}

.geSprite-endblock {
    background-position: 0 -1472px;
}

.geSprite-endoval {
    background-position: 0 -1518px;
}

.geSprite-enddiamond {
    background-position: 0 -1564px;
}

.geSprite-endthindiamond {
    background-position: 0 -1610px;
}

.geSprite-endclassictrans {
    background-position: 0 -1656px;
}

.geSprite-endblocktrans {
    background-position: 0 -1702px;
}

.geSprite-endovaltrans {
    background-position: 0 -1748px;
}

.geSprite-enddiamondtrans {
    background-position: 0 -1794px;
}

.geSprite-endthindiamondtrans {
    background-position: 0 -1840px;
}

.geSprite-startclassic {
    background-position: 0 -1886px;
}

.geSprite-startopen {
    background-position: 0 -1932px;
}

.geSprite-startblock {
    background-position: 0 -1978px;
}

.geSprite-startoval {
    background-position: 0 -2024px;
}

.geSprite-startdiamond {
    background-position: 0 -2070px;
}

.geSprite-startthindiamond {
    background-position: 0 -2116px;
}

.geSprite-startclassictrans {
    background-position: 0 -2162px;
}

.geSprite-startblocktrans {
    background-position: 0 -2208px;
}

.geSprite-startovaltrans {
    background-position: 0 -2254px;
}

.geSprite-startdiamondtrans {
    background-position: 0 -2300px;
}

.geSprite-startthindiamondtrans {
    background-position: 0 -2346px;
}

.geSprite-globe {
    background-position: 0 -2392px;
}

.geSprite-orderedlist {
    background-position: 0 -2438px;
}

.geSprite-unorderedlist {
    background-position: 0 -2484px;
}

.geSprite-horizontalrule {
    background-position: 0 -2530px;
}

.geSprite-link {
    background-position: 0 -2576px;
}

.geSprite-indent {
    background-position: 0 -2622px;
}

.geSprite-outdent {
    background-position: 0 -2668px;
}

.geSprite-code {
    background-position: 0 -2714px;
}

.geSprite-fontbackground {
    background-position: 0 -2760px;
}

.geSprite-removeformat {
    background-position: 0 -2806px;
}

.geSprite-superscript {
    background-position: 0 -2852px;
}

.geSprite-subscript {
    background-position: 0 -2898px;
}

.geSprite-table {
    background-position: 0 -2944px;
}

.geSprite-deletecolumn {
    background-position: 0 -2990px;
}

.geSprite-deleterow {
    background-position: 0 -3036px;
}

.geSprite-insertcolumnafter {
    background-position: 0 -3082px;
}

.geSprite-insertcolumnbefore {
    background-position: 0 -3128px;
}

.geSprite-insertrowafter {
    background-position: 0 -3174px;
}

.geSprite-insertrowbefore {
    background-position: 0 -3220px;
}

.geSprite-grid {
    background-position: 0 -3271px;
}

.geSprite-guides {
    background-position: 0 -3324px;
}

.geSprite-dots {
    background-position: 0 -3370px;
}

.geSprite-alignleft {
    background-position: 0 -3416px;
} /*�����*/
.geSprite-alignright {
    background-position: 0 -3462px;
} /*�Ҷ���*/
.geSprite-aligncenter {
    background-position: 0 -3508px;
} /*���Ҿ���*/
.geSprite-aligntop {
    background-position: 0 -3554px;
} /*��������*/
.geSprite-alignbottom {
    background-position: 0 -3600px;
} /*�ײ�����*/
.geSprite-alignmiddle {
    background-position: 0 -3646px;
} /*���¾���*/
.geSprite-justifyfull {
    background-position: 0 -3692px;
} /*���ֲ�����*/
.geSprite-formatpanel {
    background-position: 0 -3736px;
} /*����*/
.geSprite-connection {
    background-position: 0 -3784px;
} /*��ͷ*/
.geSprite-vertical {
    background-position: 0 -3830px;
} /*���ͷ��*/
.geSprite-simplearrow {
    background-position: 0 -3876px;
} /*��ͷ*/
.geSprite-plus {
    background-position: 0 -3922px;
} /*�Ӻ�*/
.geSprite-rounded {
    background-position: 0 -3968px;
} /*Բ��*/
.geSprite-toback {
    background-position: 0 -4014px;
} /*����ǰ*/
.geSprite-tofront {
    background-position: 0 -4060px;
} /*�����*/
.geSprite-duplicate {
    background-position: 0 -4106px;
} /*����*/
.geSprite-insert {
    background-position: 0 -4152px;
} /*����*/
.geSprite-endblockthin {
    background-position: 0 -4201px;
} /*��ͷ*/
.geSprite-endblockthintrans {
    background-position: 0 -4247px;
} /*��ͷ*/
.geSprite-enderone {
    background-position: 0 -4293px;
} /*��ͷ*/
.geSprite-enderonetoone {
    background-position: 0 -4339px;
} /*��ͷ*/
.geSprite-enderonetomany {
    background-position: 0 -4385px;
} /*��ͷ*/
.geSprite-endermany {
    background-position: 0 -4431px;
} /*��ͷ*/
.geSprite-enderoneopt {
    background-position: 0 -4477px;
} /*��ͷ*/
.geSprite-endermanyopt {
    background-position: 0 -4523px;
} /*��ͷ*/
.geSprite-endclassicthin {
    background-position: 0 -4938px;
} /*��ͷ*/
.geSprite-endclassicthintrans {
    background-position: 0 -4984px;
} /*��ͷ*/
.geSprite-enddash {
    background-position: 0 -5029px;
} /*��ͷ*/
.geSprite-endcircleplus {
    background-position: 0 -5075px;
} /*��ͷ*/
.geSprite-endcircle {
    background-position: 0 -5121px;
} /*��ͷ*/
.geSprite-endasync {
    background-position: 0 -5167px;
} /*��ͷ*/
.geSprite-endasynctrans {
    background-position: 0 -5213px;
} /*��ͷ*/
.geSprite-startblockthin {
    background-position: 0 -4569px;
} /*��ͷ*/
.geSprite-startblockthintrans {
    background-position: 0 -4615px;
} /*��ͷ*/
.geSprite-starterone {
    background-position: 0 -4661px;
} /*��ͷ*/
.geSprite-starteronetoone {
    background-position: 0 -4707px;
} /*��ͷ*/
.geSprite-starteronetomany {
    background-position: 0 -4753px;
} /*��ͷ*/
.geSprite-startermany {
    background-position: 0 -4799px;
} /*��ͷ*/
.geSprite-starteroneopt {
    background-position: 0 -4845px;
} /*��ͷ*/
.geSprite-startermanyopt {
    background-position: 0 -4891px;
} /*��ͷ*/
.geSprite-startclassicthin {
    background-position: 0 -5259px;
} /*��ͷ*/
.geSprite-startclassicthintrans {
    background-position: 0 -5305px;
} /*��ͷ*/
.geSprite-startdash {
    background-position: 0 -5351px;
} /*��ͷ*/
.geSprite-startcircleplus {
    background-position: 0 -5397px;
} /*��ͷ*/
.geSprite-startcircle {
    background-position: 0 -5443px;
} /*��ͷ*/
.geSprite-startasync {
    background-position: 0 -5489px;
} /*��ͷ*/
.geSprite-startasynctrans {
    background-position: 0 -5535px;
} /*��ͷ*/
.geSprite-startcross {
    background-position: 0 -5581px;
} /*��ͷ*/
.geSprite-startopenthin {
    background-position: 0 -5627px;
} /*��ͷ*/
.geSprite-startopenasync {
    background-position: 0 -5673px;
} /*��ͷ*/
.geSprite-endcross {
    background-position: 0 -5719px;
} /*��ͷ*/
.geSprite-endopenthin {
    background-position: 0 -5765px;
} /*��ͷ*/
.geSprite-endopenasync {
    background-position: 0 -5811px;
} /*��ͷ*/
.geSprite-verticalelbow {
    background-position: 0 -5857px;
} /*����*/
.geSprite-horizontalelbow {
    background-position: 0 -5903px;
} /*����*/
.geSprite-horizontalisometric {
    background-position: 0 -5949px;
} /*����*/
.geSprite-verticalisometric {
    background-position: 0 -5995px;
} /*����*/

/*liyang add*/
.geSprite-organization {
    background-position: 0 -6044px;
} /*����*/
.geSprite-screen {
    background-position: 0 -6097px;
} /*ȫ��Ļ*/
.geSprite-save {
    background-position: 0 -6150px;
} /*����*/
.geSprite-refresh {
    background-position: 0 -6208px;
} /*ˢ��*/
.geSprite-close {
    background-position: 0 -6261px;
} /*�ر�*/

.geSprite-dotline {
    background-position: 0 -6310px;
} /*����*/
.geSprite-threeline {
    background-position: 0 -6354px;
} /*����*/
.geSprite-hand {
    background-position: 0 -6410px;
} /*��*/
.geSprite-warn {
    background-position: 0 -6467px;
} /*��ʾ*/
.geSprite-smallmap {
    background-position: 0 -6514px;
} /*����ͼ*/
.geSprite-process{
    background-position: 0 -6563px;
}

.geSprite_line_none {
width:124px;
height:20px;
background-position:center center;
    background-image: url(../../images/topology/dashed/none.png);
}
.geSprite_line_14_14 {
width:124px;
height:20px;
background-position:center center;
    background-image: url(../../images/topology/dashed/14_14.png);
}
.geSprite_line_14_8 {
width:124px;
height:20px;
background-position:center center;
    background-image: url(../../images/topology/dashed/14_8.png);
}
.geSprite_line_8_14 {
width:124px;
height:20px;
background-position:center center;
    background-image: url(../../images/topology/dashed/14_8.png);
}
.geSprite_line_8_8 {
width:124px;
height:20px;
background-position:center center;
    background-image: url(../../images/topology/dashed/14_8.png);
}
.geSprite_line_8_4_14_4 {
width:124px;
height:20px;
background-position:center center;
    background-image: url(../../images/topology/dashed/8_4_14_4.png);
}
.geSprite_line_4_14_8_14 {
width:124px;
height:20px;
background-position:center center;
    background-image: url(../../images/topology/dashed/4_14_8_14.png);
}
.geSprite_line2 {
width:124px;
height:20px;
background-position:center center;
background-image: url(../../images/topology/dashed/line_2.png);
}
.geSprite_line4 {
width:124px;
height:20px;
background-position:center center;
background-image: url(../../images/topology/dashed/line_4.png);
}
.geSprite_line6 {
width:124px;
height:20px;
background-position:center center;
background-image: url(../../images/topology/dashed/line_6.png);
}
.geSprite_line8 {
width:124px;
height:20px;
background-position:center center;
background-image: url(../../images/topology/dashed/line_8.png);
}
.geSprite_line10 {
width:124px;
height:20px;
background-position:center center;
background-image: url(../../images/topology/dashed/line_10.png);
}


html div.mxRubberband {
    border-color: #0000DD;
    background: #99ccff;
}



html div.mxPopupMenu {
    -webkit-box-shadow: 2px 2px 3px #d5d5d5;
    -moz-box-shadow: 2px 2px 3px #d5d5d5;
    box-shadow: 2px 2px 3px #d5d5d5;
    _filter: progid:DXImageTransform.Microsoft.DropShadow(OffX=2, OffY=2,
        Color='#d0d0d0', Positive='true');
    position: absolute;
    border: 3px solid #e7e7e7;
    padding: 3px;
}

html table.mxPopupMenu {
    border-collapse: collapse;
    margin: 0px;
    width:130px;
}

html td.mxPopupMenuItem {
    padding: 7px 30px 7px 30px;
    font-family: Helvetica Neue, Helvetica, Arial Unicode MS, Arial;
    font-size: 10pt;
}

html td.mxPopupMenuIcon {
    padding: 0px;
    font-size:16px;
}

td.mxPopupMenuIcon .geIcon {
    padding: 2px;
    padding-bottom: 4px;
    margin: 2px;
    border: 1px solid transparent;
    opacity: 0.5;
    _width: 26px;
    _height: 26px;
}

td.mxPopupMenuIcon .geIcon:hover {
    border: 1px solid gray;
    border-radius: 2px;
    opacity: 1;
}

html tr.mxPopupMenuItemHover {
    background-color: #eeeeee;
    color: black;
}

table.mxPopupMenu hr {
    color: #cccccc;
    background-color: #cccccc;
    border: none;
    height: 1px;
}

table.mxPopupMenu tr {
    font-size: 4pt;
}

html td.mxWindowTitle {
    font-family: Helvetica Neue, Helvetica, Arial Unicode MS, Arial;
    text-align: left;
    font-size: 12px;
    color: rgb(112, 112, 112);
    padding: 4px;
}
#childrenTopologyDiv{
position:absolute;
bottom:0px;
width:100%;
top:0px;
}
.childrenTopologyNodata{
margin-left:auto;
margin-right:auto;
margin-top:160px;
width:140px;
padding-left:50px;
color:#5faee3;
font-size:14px;
background-repeat:no-repeat;
height:30px;
line-height:30px;
background-image: url(../../images/topology/icon/no_data_small.png);
background-position:left center;
}