@charset "utf-8";

.light05{
background-image:url(../images/icons/light/light_05.png);
}
.light1{
background-image:url(../images/icons/light/light_1.png);
}
.light2{
background-image:url(../images/icons/light/light_2.png);
}
.light3{
background-image:url(../images/icons/light/light_3.png);
}
.light4{
background-image:url(../images/icons/light/light_4.png);
}
.light5{
background-image:url(../images/icons/list_nomonitoring.png);
}

.icon1small{
background-image:url(../images/iconsmall/navi-home-small.png);
}
.icon2small{
background-image:url(../images/iconsmall/navi-network-small.png);
}
.icon3small{
background-image:url(../images/iconsmall/navi-monitor-small.png);
}
.icon4small{
background-image:url(../images/iconsmall/navi-log-small.png);
}
.icon5small{
background-image:url(../images/iconsmall/navi-alarm-small.png);
}
.icon6small{
background-image:url(../images/iconsmall/navi-report-small.png);
}
.icon7small{
background-image:url(../images/iconsmall/navi-system-small.png);
}
.icon8small{
background-image:url(../images/iconsmall/navi-search-small.png);
}

.icon10small{
background-image:url(../images/iconsmall/navi-serve-small.png);
}

