@charset "utf-8";
/*rightpart  z-index 50*/
#wcontent{
position:absolute;
width:auto;
left:52px;
right:0px;
height:100%;
z-index:0;
}

#wcontenttopu{
position:absolute;
width:auto;
left:52px;
right:0px;
height:100%;
z-index:0;
}

#wtop{
height:50px;
width:100%;
}
#wtleft{
float:left;
width:50%;
padding-left:50px;
padding-top:20px;
}
#wtright{
float:right;
padding-right:20px;
}

/*上方导航*/
.nav-top{
float:left; 
height:50px;
color:#999; 
display:table;
}
.nav_search{
margin-left:50px;
height:60px; 
float:left;  
width:100px; 
outline:none;
}
.nav_search p{ 
text-align:center;
margin-top:22px;
}
.nav_search_img{
float:left;
margin-left:50px
;margin-top:22px;
}
.nav-topright{ 
float:right;
height:50px;
}
.nav-topright>ul{ 
height:50px;
display:block;
}
.nav-topright>ul>li{
height:50px;
float:left; 
font-size:14px;
padding-right:20px;
}
.nav-topright img{
margin-top:13px; 
margin-left:20px;
}

/*图标弹出窗口*/
.selectbluebtn{
float:left;
height:34px;
cursor:pointer;
}
.btnname{
height:34px;
text-align:left;
padding-left:10px;
line-height:34px;
color:#999;
float:left; 
padding-top:10px;
overflow:hidden;
text-overflow:ellipsis;
white-space:nowrap;
}
.btnlistarrow1{
position:absolute;
z-index:150;
width:17px;
height:10px;
top:11px;
left:10px;
background-image:url(../images/btnlistarrow.png);
background-repeat:no-repeat;
}

.btnselector{
width:170px;
position:absolute;
z-index:140;
right:0px;
top:34px;
padding-top:20px;
left:-4px;
display:none;
}
.btnlistarrow{
position:absolute;
z-index:150;
width:30px;
}
.btnlistarrow ul li{
height:45px; 
margin-top:-10px;
}
.btnlistarrow ul li img{
margin-top:20px;
}


.btnlistarrow ul a:hover{color:#000;}
ul.btnselectorlist{
border:1px solid #efefef;	
display:block;
background-color:#f9f9fb;
box-shadow: 5px 5px 1px rgba(0,0,0,.2);
}
ul.btnselectorlist a:visited{color:#6d6d6d;}

ul.btnselectorlist li{

display:block;
height:35px;
padding-left:50px;
line-height:35px;
color:#6d6d6d;
}

#facewindow{
position:absolute;
z-index:9010;
background-color:#e5e5e5;
width:150px;
height:140px;
top:50px;
right:50px;
}
.facell{
width:50px;
height:50px;
background-color:#FFFFFF;
margin-left:15px;
float:left;
cursor:pointer;
border:2px solid #e5e5e5;
}
.facell:hover{
border:2px solid #D74634;
}
.facellline{
margin-top:8px;
width:38px;
margin-left:auto;
margin-right:auto;
background-color:#666666;
height:8px;
}

