.wmbox{}

/*外层wtab*/
.wtabs{
position:absolute;
width:100%;
top:0px;
bottom:0px;
}

/*带list的wtab*/
.listtabs{
position:absolute;
width:100%;
top:0px;
bottom:0px;
}

.wtabbtns{
width:100%;
height:40px;
}
.wtabbtn{
position:relative;
float:left;
padding-left:30px;
padding-right:30px;
height:37px;
line-height:37px;
cursor:pointer;
text-align:center;
font-size:14px;
}



.wtabwhitebtnon{

    padding-top: 0px;
}



.wtabcons{
position:absolute;
width:100%;
top:40px;
bottom:0px;
}
.wtabconswhite{
position:absolute;
width:100%;
top:40px;
bottom:0px;
background-color:#fff;
}

.wtabcon{
position:absolute;
width:100%;
top:0px;
bottom:0px;
display:none;
}


/*内部tab*/
.inwtabs{
position:absolute;
width:100%;
top:0px;
bottom:0px;
}
.inwtabbtns{
width:100%;
height:40px;
}
.inwtabbtn{
position:relative;
float:left;
width:120px;
height:37px;
line-height:37px;
cursor:pointer;
text-align:center;
font-size:14px;
padding-top:3px;
}
.inwtabbtnon{
padding-top:0px;
}

.inwtabcons{
position:absolute;
width:100%;
top:40px;
bottom:0px;
}
.inwtabcon{
position:absolute;
width:100%;
top:0px;
bottom:0px;
display:none;
overflow-y:auto;
}


.wintbcon_left{
position:absolute;
width:300px;
top:15px;
left:15px;
bottom:15px;

}
.wintbcon_right{
position:absolute;
top:15px;
left:330px;
right:15px;
bottom:15px;
}
.wintbcon_right_title{
 background:#e5e5e5;
 height:36px;
}

.wintbcon_right_title p{
 padding-top:8px;
 padding-left:10px;
 font-size:14px;
}
.wconbox_white{
margin:15px;
}
ul.wtabbtnlist{
position:absolute;
z-index:130;
width:150px;
display:none;
-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

ul.wtabbtnlist li{
width:100%;
line-height:49px;
height:49px;
overflow:hidden;
}
ul.wtabbtnlist li:hover{cursor:pointer;}
.wtabhavelist{
background-image:url(../../images/wtab/havelist.png);
background-position:right;
background-repeat:no-repeat;
}
ul.bggray{
background-color:#333333;
}
ul.bgwhite{
background-color:#fff;
}
.wintbcon_title_select{height:40px;  margin-top:6px; float:left; margin-bottom:8px;}
.wintbcon_title_select select{font-family:'Microsoft YaHei';}

.wintbcon_right_title_search{float:right; margin-top:5px; margin-right:5px;}

.wintbcon_title{height:36px; width:100%;}

.childTab{

}
.spaceleftarrow{
position:absolute;
z-index:20;
width:20px;
height:40px;
text-align:center;
left:0px;
top:0px;
line-height:40px;
color:#999999;
font-family:Arial, Helvetica, sans-serif;
cursor:pointer;
background-image:url(../../images/wtab/moveleft.png);
background-repeat:no-repeat;

}
.spaceleftarrow:hover{
background-image:url(../../images/wtab/moveleft_blue.png);
}
.spacerightarrow{
position:absolute;
z-index:20;
width:20px;
height:40px;
text-align:center;
right:0px;
top:0px;
line-height:40px;
color:#999999;
font-family:Arial, Helvetica, sans-serif;
cursor:pointer;
background-image:url(../../images/wtab/moveright.png);
background-repeat:no-repeat;

}
.spacerightarrow:hover{
background-image:url(../../images/wtab/moveright_blue.png);
}

