@charset "utf-8";
/* CSS Document */
/*rightpart  z-index 50*/


/*上方导航*/

.nav_search{
margin-left:50px;
height:60px; 
float:left;  
width:100px; 
outline:none;
}
.nav_search p{ 
text-align:center;
margin-top:22px;
}
.nav_search_img{
float:left;
margin-left:50px
;margin-top:22px;
}
/*图标弹出窗口*/
.selectbluebtn{
float:left;
height:34px;
width:80px;
margin-left:-10px;
cursor:pointer;
}
.btnname{
width:60px;
height:34px;
text-align:center;
line-height:34px;
color:#999;
float:left; 
padding-top:16px;
}
.btnlistarrow1{
position:absolute;
z-index:150;
width:17px;
height:10px;
top:11px;
left:10px;
background-image:url(../images/btnlistarrow.png);
background-repeat:no-repeat;
}

.btnselector{
width:170px;
position:absolute;
z-index:140;
right:0px;
top:34px;
padding-top:20px;
left:-24px;
display:none;

}
.btnlistarrow{
position:absolute;
z-index:150;
width:30px;
}
.btnlistarrow ul li{
height:45px; 
margin-top:-10px;
}
.btnlistarrow ul a:hover{color:#000;}
ul.btnselectorlist{
border:1px solid #efefef;	
display:block;
background-color:#FFF;
box-shadow: 5px 5px 1px rgba(0,0,0,.2);

}
ul.btnselectorlist a:visited{color:#6d6d6d;}

ul.btnselectorlist li{

display:block;
height:35px;
padding-left:50px;
line-height:35px;
color:#6d6d6d;
}


