@charset "utf-8";
/*init*/
* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: "Microsoft YaHei", "黑体", "宋体";
}

img {
	border: 0px;
}

ul, li {
	list-style: none;
}

a {
	text-decoration: none;
}

a:visited {
	color: #FFF;
}



.title {
	height: 63px;
	width: 100%;
	background: #d9d9d9;
	float: left;
}

.title p {
	margin-left: 20px;
	line-height: 63px;
}

.close_button {
	height: 10px;
	float: right;
	margin-top: -40px;
	margin-right: 20px;
}




#menulist {
    position:absolute;
	left:0px;
	bottom:0px;
	top:0px;
	z-index: 110;
	width: 200px;
}
/*一级菜单*/
ul.mul0_s {
	display: block;
	width: 100%;
	position: relative;
}

li.mli0_s {
	display: block;
	width: 100%;
	height: 30px;
	padding-top:10px;
	position: relative;
	cursor:pointer;
}

a.ma0_s {
	font-size: 14px;
	color: #000;
	text-decoration: none;
}

span.mname {
	margin-left: 30px;
	display: block;
	background-repeat: no-repeat;
}

/*二级菜单*/

ul.mul1_s {
	display: none;
	position: absolute;
	top: 0px;
	width: 200px;
	right: -200px;
}
li.mli1_s {
	position: relative;
	height: 40px;
	display: block;
}

a.ma1_s {
	height: 40px;
	display: block;
	line-height: 40px;
	text-align: left;
	color: #000;
	text-decoration: none;
	font-size: 14px;
	margin-left: 40px;
}

/*三级菜单*/
ul.mul2_s {
	display: none;
	position: absolute;
	top: 0px;
	width: 240px;
	right: -240px;
}

li.mli2_s {
	padding-top:10px;
	display: block;
	padding-bottom:10px;
}

a.ma2_s {
	
	display: block;
	text-align: left;
	color: #000;
	text-decoration: none;
	font-size: 14px;
	margin-left: 20px;
	margin-right:20px;
}
.havelist {
	background-image: url(../images/havelist.png);
	background-position: right;
	background-repeat: no-repeat;
}

/*右侧内容*/
.main_right {
position:absolute;
left:200px;
top:0px;
bottom:0px;
right:0px;
}

.main_right_title {
	height: 50px;
	border-bottom: 1px solid #d9d9d9;
	line-height: 50px;
	padding-left: 20px;
}

.main_right_title p {
	color: #5faee3;
}

.main_right_title a {
	color: #000;
}

.main_right_button {
	height: 30px;
	width: 90px;
	float: right;
	display: block;
	font-size: 14px;
	margin-right: 20px;
	line-height: 30px;
	margin-top: -40px;
	padding-left: 4px;
	cursor:pointer;
}

.main_right_button img {
	vertical-align: middle;
}

.main_right_title ul li {
	margin-left: 140px;
	font-size: 14px;
	height: 45px;
}

.main_right_title ul li input {
	font-family: Microsoft YaHei;
}

.redstar {
	vertical-align: middle;
	color: #F00;
}

.main_right_input {
	height: 30px;
	width: 260px;
	border: 1px solid #e5e5e5;
	padding-left: 6px;
	margin-left: 15px;
}

.main_right_button1 {
	height: 35px;
	width: 100px;
	background: #5faee3;
	display: block;
	font-size: 14px;
	line-height: 35px;
	color: #fff;
	text-align: center;
	margin-left: 250px;
	margin-top: 10px;
}

.main_right_button2 {
	height: 35px;
	width: 100px;
	background: #5faee3;
	display:block;
	font-size: 14px;
	line-height: 35px;
	color:#fff;
	text-align: center;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	cursor:pointer;
}

.main_right_button2:hover {
background-color:#999;
}



.main_right_title1 {
	height: 50px;
	width: 760px;
	border-bottom: 1px solid #d9d9d9;
	line-height: 50px;
	padding-left: 20px;
}

.main_right_title1 a {
	color: #29aac3;
}

.main_right_title1 ul li {
	margin-left: 20px;
	font-size: 14px;
	height: 45px;
}

.main_right_title1 ul li input {
	font-family: Microsoft YaHei;
}

.port_main {
	height: 110px;
	margin-top:35px;
}

.port_main ul li {
	margin-left: 70px;
	font-size: 14px;
	height: 40px;
}

.find_button_gary {
	height: 30px;
	width: 60px;
	background: #5faee3;
	margin-top: 20px;
	margin-right: 20px;
	text-align: center;
	line-height: 30px;
	font-size: 14px;
	margin-left: 126px;
	cursor:pointer;
	color:#fff;
}
.find_button_gary:hover {
background-color:#999;
}
.find_button_blue {
	height: 30px;
	width: 90px;
	background: #5faee3;
	float: right;
	margin-top: 20px;
	margin-right: 66px;
	text-align: center;
	line-height: 30px;
	font-size: 14px;
	color: #FFF;
}

.find_failure {
	font-size: 14px;
}

.find_failure_button {
	height: 30px;
	width: 70px;
	background: #5faee3;
	float: right;
	margin-top: 20px;
	margin-right: 20px;
	text-align: center;
	line-height: 30px;
	font-size: 14px;
	cursor:pointer;
	color:#fff;
}
.find_failure_button:hover{
background-color:#999;
}
.find_failure_button a {
	color: #000;
}
.find_failur_txt {
	border: 1px solid #e5e5e5;
	font-size: 14px;
	font-family: Microsoft YaHei;
	padding-left: 10px;
	padding-top: 5px;
	line-height: 20px;
}