@charset "utf-8";
/* CSS Document */
.bluebutton{
background:#5faee3; 
text-align:center; 
display:block; 
width:36px;
height:22px;  
line-height:22px; 
color:#FFF; 
font-size:12px;
}
.graybutton{
background:#e1e5ec; 
text-align:center; 
display:block; 
width:36px; 
height:22px;  
line-height:22px; 
color:#666666; 
font-size:12px;
}
.deadlybutton{
background:#f36266; 
text-align:center; 
display:block;
width:36px; 
height:22px;  
line-height:22px; 
color:#fff;
font-size:12px;
}
.seriousbutton{
background:#f29730; 
text-align:center; 
display:block; 
width:36px; 
height:22px;
line-height:22px; 
color:#FFF;
font-size:12px;
}
.warningbutton{
background:#f7ca18; 
text-align:center; 
display:block; 
width:36px; 
height:22px;  
line-height:22px; 
color:#fff;
font-size:12px;
}
.minorbutton{
background:#a99e67; 
text-align:center; 
display:block; 
width:36px; 
height:22px;  
line-height:22px; 
color:#fff;
font-size:12px;
}
.infobutton{
background:#38cdd3; 
text-align:center; 
display:block; 
width:36px; 
height:22px;  
line-height:22px; 
color:#fff;
font-size:12px;
}
.unknownbutton{
background:#bfbfbf; 
text-align:center; 
display:block; 
width:36px; 
height:22px;  
line-height:22px; 
color:#fff;
font-size:12px;
}
.enturebtn{
background:#38cdd3; 
text-align:left; 
display:block; 
width:36px; 
height:22px;  
line-height:22px; 
color:#fff;
font-size:12px;
}

.cansel{
background:#bfbfbf; 
text-align:left; 
display:block; 
width:36px; 
height:22px;  
line-height:22px; 
color:#fff;
font-size:12px;
}